repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: types
        name: check types
        entry: uv run ty check
        language: system
        pass_filenames: false
        always_run: true
      - id: format
        name: check style
        entry: uv run ruff format --check
        language: system
        pass_filenames: false
        always_run: true
      - id: lint
        name: lint
        entry: uv run ruff check
        language: system
        pass_filenames: false
        always_run: true
