name: Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest ]
        python-version: [ 3.8, 3.9, 3.11, 3.12 ]
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
      - run: uv build -p ${{ matrix.python-version }}
      - run: uv run   -p ${{ matrix.python-version }} ty check
      - run: uv run   -p ${{ matrix.python-version }} ruff format --check
      - run: uv run   -p ${{ matrix.python-version }} ruff check
      - run: uv run   -p ${{ matrix.python-version }} pytest tests/
